@model myfinance_web_dotnet.Domain.Pessoa

<h1>Adicionar Pessoa</h1>
<form method="post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" id="Nome" name="Nome" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
